:root {
    --color1:#232323;/*0, 0%, 14% */
    --color2:#2A2927;/*40, 4%, 16% */
    --color3:#59503F;/*39, 17%, 30% */
    --color4:#A69068;/*39, 26%, 53%*/
    --color5:#d8c195;/*39, 46%, 72% */
}

body{
    background-color: var(--color1);
    color: var(--color4);
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}


h1 {
  font-size: 2.5em; 
}
h2 {
  font-size: 1.875em; 
}
h3 {
  font-size: 1.5em; 
}
h4 {
  font-size: 1.25em; 
}
h5 {
  font-size: 1.125em; 
}
h6 {
  font-size: 1em; 
}
p {
  font-size: 0.875em; 
}

@media screen and (min-width: 768px) {
  h1{
    font-size: 3.125em;
  }
  h2{
    font-size: 2.5em;
  }
  h3{
    font-size: 1.875em;
  }
  h4{
    font-size: 1.5em;
  }
  h5{
    font-size: 1.25em;
  }
  h6{
    font-size: 1.125em;
  }
  p{
    font-size: 1em;
  }
}

.c1{
    color: var(--color1);
}
.bg1{
    background-color: var(--color1);
}
.c4{
    color: var(--color4);
}
.bg4{
    background-color: var(--color4);
}
.c5{
    color: var(--color5);
}
.bg5{
    background-color: var(--color5);
}


