---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Intro from "../components/Intro.astro";
import Flag from "../components/Flag.astro";
import Pres from "../components/Pres.astro";

const hygraphEndpoint = import.meta.env.HYGRAPH_ENDPOINT;
const response = await fetch(hygraphEndpoint, {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
    Accept: "application/json",
  },
  body: JSON.stringify({
    query: `
        {
  lores(orderBy: id_ASC) {
    image {
      height
      width
      url
    }
    resume
    slug
    title
    textComplet
  }
}`,
  }),
});
const loresData = await response.json();
const lores = loresData.data.lores;
---

<Layout title="Perou | NationGlory Coral">
  <Intro />
  <Header />
  <main class="px-2 lg:px-12">
    <Pres />
    <div class="flex flex-col w-full items-center pg:mx-1/6 shadow-lg mt-36">
      {
        lores.map((lore: any) => (
          <div class="mb-8 shadow-lg rounded-lg">
            <a href={`./lore/${lore.slug}`}>
              <Flag
                title={lore.title}
                img={lore.image.url}
                resume={lore.resume}
              />
            </a>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
