---
import Layout from "../layouts/Layout.astro";
import "../styles/globals.css";
const hygraphEndpoint = import.meta.env.HYGRAPH_ENDPOINT;
const response = await fetch(hygraphEndpoint, {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
    Accept: "application/json",
  },
  body: JSON.stringify({
    query: `
        {
  			headers(orderBy: publishedAt_ASC) {
    		image {
      			url
      			width
      			height
    			}
			title
    		subTitle
			}
		}
      `,
  }),
});
const headersData = await response.json();
const header = headersData.data.headers[0];
// console.log(headers);
// console.log(headers.data.headers[0].title);
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="px-16 flex flex-row">
      <h1>{header.title}</h1>
      <h3>{header.subTitle}</h3>
    </div>
  </main>
</Layout>
