---
interface Props {
  title: string;
  img: string;
  resume: string;
}

const { title, img, resume, info, screen, imgsize } = Astro.props;
---

<div class="w-full flex flex-row h-[600px]">
  <div class="p-2 lg:p-8 flex flex-col items-center c4 w-1/3">
    <h1 class="c5 underline decoration-double text-center">
      {title}
    </h1>
    <h3 class="c4 text-center p-2">{resume}</h3>
  </div>
  <img src={img} alt="perou coral drapeau" class="w-2/3 object-cover" />
</div>
