<footer class="w-screen flex flex-col p-2 lg:px-8 z-20">
  <div class="flex flex-row justify-around p-2 lg:p-8 flex-wrap">
    <h4>Outils utiliser :</h4>
    <a href="https://tailwindcss.com/" class="flex flex-row items-center"
      ><img
        src="/assets/tailwind.svg"
        alt="tailwind logo"
        title="tailwind logo"
        class="w-8 h-8"
      />TailwindCSS</a
    >
    <a href="https://astro.build/" class="flex flex-row items-center"
      ><img
        src="/assets/astro.svg"
        alt="Astro logo"
        title="Astro logo"
        class="w-8 h-8"
      />Astro</a
    >
    <a href="https://www.svgrepo.com/" class="flex flex-row items-center"
      ><img
        src="/assets/svgrepo.svg"
        alt="SVG Repo logo"
        title="SVG Repo logo"
        class="w-8 h-8"
      />SVG Repo</a
    >
    <a href="https://dixonandmoe.com/rellax/" class="flex flex-row items-center"
      ><img
        src="/assets/js.svg"
        alt="js logo"
        title="js logo"
        class="w-8 h-8"
      />Rellax</a
    >
  </div>
  <div class="flex flex-row justify-around p-2 lg:p-8 flex-wrap">
    <h4>Contactez le developpeur :</h4>
    <a
      href="mailto:lilian.brossard@gmail.com"
      class="flex flex-row items-center"
      ><img
        src="/assets/mail.svg"
        alt="tailwind logo"
        title="tailwind logo"
        class="w-8 h-8"
      />lilian.brossard@gmail.com</a
    >
    <a
      href="https://github.com/LilianBrossard"
      class="flex flex-row items-center"
      ><img
        src="/assets/github.svg"
        alt="github logo"
        title="github logo"
        class="w-8 h-8"
      />github</a
    >
    <a
      href="https://lilianbrossard.github.io/portfolio/"
      class="flex flex-row items-center"
      ><img
        src="/assets/portfolio.svg"
        alt="portfolio logo"
        title="portfolio logo"
        class="w-8 h-8"
      />portfolio</a
    >
  </div>
</footer>

<style>
  footer {
    background-color: var(--color2);
  }
</style>
