<div class="shadow-lg p-2 rounded-lg">
  <h1 class="c5 underline">Présentation de notre pays NationGlory</h1>
  <h2>
    <a href="https://nationsglory.fr/" class="hover:underline"
      ><strong>NationGlory</strong></a
    > est un jeu en ligne issus de mode minecraft où les joueurs dirigent une nation
    virtuelle, prenant des décisions politiques, économiques et militaires pour la
    développer.
  </h2>
</div>
