---
import "../styles/globals.css";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta
      name="keywords"
      content="Perou, Minecraft, jeu vidéo, pays, exploration, aventure, Nation, Glory, Nation Glory, NationGlory, Coral, NationGlory coral, NationGlory Perou, coral, build, nation glory build, unesco, nation glory unesco"
    />
    <meta charset="UTF-8" />
    <meta name="description" content="Presentation du plus beau pays" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/png"
      href="/Perou/assets/assets/Logo_Geldenberg_originel.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="overflow-x-hidden">
    <slot />
    <Footer />
  </body>
</html>
<script>
  //npm install aos --save
  //https://michalsnik.github.io/aos/
  import AOS from "aos";
  AOS.init({
    once: false, // change this to false if it's set to true
    offset: 200,
    duration: 1000,
  });
  window.addEventListener("load", AOS.refresh);
</script>
<script>
  //https://yaireo.github.io/rellax/
  import Rellax from "rellax";
  var rellax = new Rellax(".rellax");
</script>
